*{
        padding: 0;
        margin: 0;
}
body{
    background-color: rgb(27, 28, 30);
}
html {
  scroll-behavior: smooth;
}
.main{
    display: flex;
}
.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}
a,a:visited,a:hover,a:active {
    text-decoration: none;
}
.menu-bar p{
    font-size: x-large;
    color:  rgb(233, 200, 156); 
}

.menu-bar p:hover{
    border-bottom: solid 2px rgb(234, 164, 72);
}
.p-block{
    display: grid;
    width: 100%;
    background-color: rgb(27, 28, 30);
    height: 200px;
    position: absolute;
    top: 30%;
    grid-template-rows: 1fr 2fr 1fr;
}
/* .p-u{
    background-color: rgb(180, 156, 114);
}
.p-m{
    background-color: rgb(74, 220, 86);
    

} */
.p-l{
    /* background-color: rgb(112, 149, 112);  */
    position: relative;   
    display: flex;
    justify-content:flex-end;
}
.c-r-u,.c-r-l{
    width: 150px;
    height: 50px;
}
.c-r-l{
    width: 160px;
}
.c-u,.r-u,.c-l,.r-l{
    border: rgb(218, 128, 128);
}
.c-r-u{
    /* background-color: #c86767; */
    position: relative;
}
.c-u{
 position: absolute;
 top: 7.5px;
 /* background-color:blue ; */
 border: solid 1px rgb(219, 197, 170);
 border-radius: 50%;
 height: 35px;
 width: 35px;
 left: 5px;
}
.r-u{
 position: absolute;
 top: 7.5px;
 left: 45px;
 /* background-color: blueviolet; */
 border: solid 1px rgb(219, 197, 170);
 border-radius: 25px;
 height: 35px;
 width: 100px;
}
.r-u p{
    color:  rgb(219, 197, 170);
    position: absolute;
    top: 5px;
    left: 25px;
    font-size: x-large;
}

/* .c-r-l{
background-color: #c86767;
} */

.c-l{
 position: absolute;
 top: 7.5px;
 background-color: rgb(219, 197, 170) ;
 border-radius: 50%;
 height: 35px;
 width: 35px;
}
.r-l{
 top: 7.5px;
 left: 40px;
 background-color: rgb(219, 197, 170);
 border-radius: 25px;
 height: 35px;
 width: 115px;
 position: relative;
 transition: transform 0.5s ease;
}
.r-l:hover{
    transform: scale(1.05);
}
.r-l p{
    color: rgb(27, 28, 30);
    /* display: flex;
    justify-content: center; */
    font-size: x-large;
    position: absolute;
    top: 5px;
    left: 25px;
}
.port p{
 display: flex;
 font-family:"DM Serif Display";
 font-size: 4.5rem;
 color: rgb(219, 197, 170);
 justify-content: center;
 align-items: center;
}
.blur1,.blur2{
    width: 160px;
    height: 50px;
    border-radius: 25px;
}
.blur1{
    background: rgba(8, 8, 8, 0.2);
    backdrop-filter:blur(1px);
    position: absolute;
    left:215px;
}
.blur2{
    background: rgba(8, 8, 8, 0.2);
    backdrop-filter:blur(2px);
    position: absolute;
    top: 100px;}

.subhead{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.phrase>h2{
    font-family: "Grenze Gotisch";
    color:  rgb(219, 197, 170);
    border-radius: 50px;
    border: solid rgb(219, 197, 170);
    text-align: center;
    padding: 0 20px 0 20px;
    margin-top: 30px;
}
.aboutme{
    /* background-color: rgb(188, 149, 225); */
    /* height: 50vh; */
    margin-top: 60vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.pic,.me{
    background-color:   rgb(219, 197, 170);
    height: 50vh;
    width: 60vh;
    /* border: solid black; */
  
}
.pic{
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    /* padding: 24px; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.me {
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic>img{
    /* height: 350px; */
    /* background-color: rgb(150,150,231); */
    width: 100%;
    height: auto;

    /* padding: 4px;
    padding-left: 92px; */
   
}
.me>p{
    /* background-color: rgb(150, 150, 231); */
    font-family:"DM Mono";
    font-size: 20px;
    height: 35vh;
    width:45vh;
    /* margin: 50px 0 0 55px; */
    /* margin: auto; */
    padding-top: 10px;
    box-shadow: 10px 10px 5px rgb(216, 185, 145) ;
    font-weight: bolder;
}
.works{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr ;
    /* background-color: rgb(141, 141, 211); */
    height: 80vh;
    width: 100%;
    gap: 10px;
    margin-top: 30px;
}
.a{
    /* background-color: #fff; */
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.text-a{
    color: rgb(143, 109, 66);
    writing-mode: vertical-rl;
    font-family: "DM Serif Display";
    font-size: 6rem;
    border-radius: 25px;
    padding: 40px 10px 40px 10px;

    background-color: rgb(187, 163, 132);
    margin-top: 50px;
    margin-left: 20px;
    /* height: 100%; */
}
.b{
    /* background-color: #e29c9c; */
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-b,.text-e{
    font-family:"DM Serif Display";
    font-size: large;
    color: rgb(216, 185, 145);
}
.text-b strong,.text-e strong{
    color: rgb(234, 164, 72);
}
/* .c{
    background-color: rgb(157, 223, 183);
} */
.fclone img,.portfolio img{
    border-radius: 25px;
    height:100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease;
    border: solid 2px  rgb(143, 109, 66) ;
}
.fclone img:hover{
    transform: scale(1.1); 
    /* overflow: visible; */
}
/* .d{
    background-color: rgb(187, 130, 240);
} */
.portfolio img:hover{
    transform: scale(1.1);
}
.e{
    /* background-color: #999be5; */
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connect-box{
    background-color: #c25050;
    display: flex;
    justify-content: center;
    /* align-items: center;     */
}
.connect{
    margin-top: 100px;
    height: auto;
    width:100%;
    /* background-color: #e69393; */
    border-radius: 25px;
    border:solid  2px  rgb(216, 185, 145);
    /* box-shadow: 10px 10px 5px rgb(216, 185, 145); */
    position: absolute;
}
.platforms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.platforms img{
    height: 50px;
}
.con-head h1{
    color:  rgb(216, 185, 145);
    text-align: center;
    font-size: 2.5rem;
}
.con-subhead h2{
    color:  rgb(234, 164, 72);
    text-align: center;
    padding-top: 40px;
}
.platforms+p{
    color: rgb(234, 164, 72);
    text-align: center;
}
#git>a{
    color: #fff;
    border-radius: 5px;
    padding: 2px;
    border: solid rgb(216, 185, 145) 1px;
}
@media(min-width:376px){
     .blur1,.blur2{
        display: none;
    }
    .connect-box{
        margin-top: 100px;
    }
    .menu-bar p{
    font-size: xx-large;
    color:  rgb(233, 200, 156); 
    }
        .connect{
    margin-left: 10px;
  }
}
@media (max-width:376px) {
            .connect{
    margin-left: 10px;
  }    
}
@media(max-width:320px){
  .connect{
    margin-left: 60px;
  }
  .aboutme {
    margin-left: 30px;
  }
  .me>p{
    box-shadow: none;
  }
  .works{
    margin-left: 30px;
  }
  .menu-bar{
    margin-left: 50px;
  }
  .phrase{
    margin-left:80px;
  }
}
@media (min-width:748px){
    .me{
        border-top-right-radius: 80px;
    }
     .port>p{
        font-size: 6.5rem;
    } 

}
 @media (max-width:748px){
    .works{
        display: flex;
        flex-direction: column;
    }
    .connect-box{
        margin-top: 600px;
        width: 100%;
        /* background-color: #713030; */
    }
    .text-a{
        /* border: solid 2px white; */
        font-size: 3.5rem;
        writing-mode: horizontal-tb;
        border-radius: 25px;
        padding: 10px;
        background-color: rgb(187, 163, 132);
        margin-top: 0px;
    }
    .b,.e{
        padding: 20px;
    }
}
